.card
{
	border:1px solid black;
	border-radius:20px;
}
.card-img-top
{
	border-radius:20px;
}
.copy
{
	padding-top: 30px;
}
.fa{
	padding-top: 30px;
}
.text-muted
{
	margin-left:5px;
}
