#home{
    background-color:lightblue;
    border:10px solid blue;
    border-radius: 10px;
    padding:50px;
    margin-left:100px;
    margin-right:200px;
    margin-top:50px;

}
body{
    background-color:pink;
}
img{
    width:100px;
    height:200px;
    border-radius:5px;
    border-color:black;
    margin-left:300px;
}
